<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <!--是否显示窗体,默认0不显示-->
    <add key="IsShowForm" value="1" />

    <add key="UserName" value="BJTZJMQX-00001"/>
    <add key="Password" value="pingan123"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
</configuration>